---
layout: base
title: Ryan P. Jones
---

<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Ryan P. Jones</h1>
          <p class="intro-text">Stage Manager</p>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      {% capture about %}{% include about.md %}{% endcapture %}
      {{ about | markdownify }}

    </div>
  </div>
</section>

<!-- Slideshow Section -->
<section class="content-section text-center">
  <div id="photos" style="padding-top:50px;">
    <div class="light-section">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          {% include slideshow.html %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      {% capture contact %}{% include contact.md %}{% endcapture %}
      {{ contact | markdownify }}

    </div>
  </div>
</section>
